doctype html
html(lang="en")

 body
    style.
      body {
        background-image: url('https://wallup.net/wp-content/uploads/2019/05/10/5749-welcome.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      .center {
        text-align: center;
        margin: 0;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%); 
        font-size: 30px;
        color: green;
      }

    .container
        .center 
              p Successful Login! Welcome #{message} :)
              
        